<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.mapper.SpecialSQLMapper">
    <select id="getUserByLike" resultType="User">
        <!--select * from t_user where username like '%${mohu}%'
            select * from t_user where username like concat('%',#{mohu},'%')-->
        select * from t_user where username like "%"#{mohu}"%"
    </select>
    <delete id="deleteMoreUser">
        delete from t_user where id in(${ids})
    </delete>
    <select id="getUserList" resultType="User">
        select * from ${tableName}
    </select>
    <!--useGeneratedKeys表示使用自增主键 keyProperty将添加的数据的自增主键赋值给实体类的那个属性或字段-->
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into t_user values(null,#{username},#{password},#{age},#{gender},#{email})
    </insert>
</mapper>
